body{
    margin: 0%;
}

.todos-bg-container {
    background-image:linear-gradient(to right, #d9d9d7,#a4a46a) ;
    background-size: cover;
    min-height: 100vh;
    padding: 10%;
    color: rgb(54, 54, 1);
}

.todos-heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 4rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}


.todo-items-heading {
    font-family: "Roboto";
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}


.todo-items-container {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.todo-item-container {
    margin-top: 15px;
    display: flex;
}

.todo-user-input {
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 50px;
    padding: 2rem;
    font-size: 1.5rem;
}

.button {
    color: white;
    background-color: #848936;
    font-family: "Roboto";
    font-size: 1.2rem;
    margin-top: 10%;
    margin-left: 2%;
    padding:1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}

.button:hover{
    background-color: #a8ac6e;
    transform: translateY(5%);
    box-shadow: 4px 4px #090d13;
    color: #070707;
}

.buttons-container{
    text-align: center;
}

.label-container {
    background-color: #848936;
    width: 50%;
    border-style: none;
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 5%;
    color:rgb(236, 236, 222);
}

.label-container:hover {
    background-color: #a8ac6e;
    transform: translateY(5%);
    box-shadow: 4px 4px #090d13;
    color: #070707;
}

.checkbox-input {
    width: 20px;
    height: 30px;
    margin-top: 1rem;
    cursor: pointer;
    color: antiquewhite;
    background-color: #a8ac6e;
}

.checkbox-input:checked {
	font-size: 1rem;
	color: #040404;
    background: #a4a46a;
}

.checkbox-label {
    font-family: "Roboto";
    font-size: 1.8rem;
    font-weight: 400;
    width: 82%;
    padding-top: 1%;
    padding-bottom:1%;
    padding-left: 1%;
    cursor: pointer;
}

.delete-icon {
    display: none;
}

.label-container:hover .delete-icon{
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
}

.checked {
    text-decoration: line-through;
}

#active-todo{
    color: #3f4d1f;
}